<div class="hero-image">
  <div class="d-flex justify-content-center">
    <img class="profilepic" src="/assets/yayaimg.jpg" alt="">
  </div>
</div>
<div class="container cards-dashboard d-flex">
  <div class="booked_by">
    <h2>I am booked by...</h2>
    <% if @booked_by == []  %>
      <h3>...you have no bookings...</h3>
    <% else %>
      <% @booked_by.each do |booking| %>
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
            Player name: <%= booking.user.name %>
            Game name: <%= booking.offer.game.name %>
            Date: <%= booking.date %>
            <% if booking.pending? %>
              <div class="d-flex">
                <%= simple_form_for booking do |f| %>
                  <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
                  <%= f.submit 'Accept', class: 'btn btn-info' %>
                <% end %>
                <%= simple_form_for booking do |f| %>
                  <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
                  <%= f.submit 'Reject', class: 'btn btn-light' %>
                <% end %>
              </div>
            <% else %>
              Status: <%= booking.status %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="booked_by">
    <h2>I have booked...</h2>
    <% if @make_bookings == []  %>
      <h3>...you have no bookings...</h3>
    <% else %>
      <% @make_bookings.each do |booking| %>
        <div class="card-product">
          <%# <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" /> %>
          <div class="card-product-infos">
            <%= booking.offer.user.name %> on
            <%= booking.offer.game.name %> on
            <%= link_to 'x', booking_path(booking), data: { turbo_method: :delete, turbo_confirm: 'Delete booking?' }  %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="booked_by">
    <h2>My Offerings</h2>
    <% if @offers == []  %>
      <h3>...you have no offerings...</h3>
    <% else %>
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <%# <h2>Product name</h2>
        <p>Product description with <strong>relevant info</strong> only.</p> %>
          <ul>
            <% @offers.each do |offer| %>
              <li>
                <%= offer.game.name %>
                <%= distance_of_time_in_words(offer.duration*3600) %>
                <%= number_with_delimiter(offer.price, :delimiter => ',') %>¥
                <%= link_to 'x', offer_path(offer), data: { turbo_method: :delete, turbo_confirm: 'Delete offer?' }  %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>
