<div class="container">
  <h2 class="text-white">My Coaching Requests</h2>
  <% if @booked_by == []  %>
    <h3>...you have no bookings...</h3>
  <% else %>
    <div class="bookings">
      <% @booked_by.each do |booking| %>
        <div class="booking">
          <div class="booking-left">
            <%= cl_image_tag booking.user.photo.key, class: "avatar-bordered" %>
            <%= booking.user.name %>
            <div class="booking-info">
              <div class="booking-info-title">
                <%= booking.offer.game.name %>
              </div>
              <div class="booking-info-details">
                Date: <%= booking.date %>
              </div>
            </div>
          </div>
          <div class="booking-actions">
            <% if booking.pending? %>
              <div class="d-flex">
                <%= simple_form_for booking do |f| %>
                  <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
                  <%= f.submit 'Accept', class: 'btn btn-info' %>
                <% end %>
                <%= simple_form_for booking do |f| %>
                  <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
                  <%= f.submit 'Reject', class: 'btn btn-light' %>
                <% end %>
              </div>
            <% else %>
              <p class='booking-tag'><%= booking.status %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<div class="container">
  <h2 class="">My Offerings</h2>
  <% if @offers == []  %>
    <h3>...you have no offerings...</h3>
  <% else %>
    <% @offers.each do |offer| %>
      <div class="card-product">
        <%= image_tag(offer.game.background_image) %>
        <div class="booking-info">
          <div class="booking-info-title">
            <%= offer.game.name %>
          </div>
          <div class="booking-info-details">
            <%= offer.duration %>h
            <%= number_with_delimiter(offer.price, :delimiter => ',') %>¥
          </div>
        </div>
        <% unless offer.bookings %>
          <%= link_to 'x', offer_path(offer), data: { turbo_method: :delete, turbo_confirm: 'Delete offer?' }  %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
<div class="container text-white">
  <%= simple_form_for(@offer, data: { turbo_confirm: "Are you sure ?"}) do |f| %>
    <%=f.input :game_id, collection: Game.all %>
    <%= f.input :price %>
    <%= f.input :duration %>
    <%= f.submit  %>
  <% end %>
</div>
</div>
