<div class="p-5 gap-5 d-flex justify-content-around">
  <div class="container border-blue border-shadow-blue">
    <h2>My Coaching Requests</h2>
    <% if @booked_by == []  %>
      <h3>...you have no bookings...</h3>
    <% else %>
      <% @booked_by.each do |booking| %>
        <div class="card-white d-flex p-2">
          <%= render 'card_white_avatar', user: booking.user %>
          <%= render 'booking_info', booking: booking %>
          <div class="d-flex align-items-center">
            <% if booking.pending? %>
              <div class="d-flex">
                <%= simple_form_for booking do |f| %>
                  <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
                  <%= f.submit 'Accept', class: 'btn btn-info mb-3' %>
                <% end %>
                <%= simple_form_for booking do |f| %>
                  <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
                  <%= f.submit 'Reject', class: 'btn btn-light mb-3' %>
                <% end %>
              </div>
            <% else %>
              <p class='booking-tag'><%= booking.status %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="container card-purple border-shadow-blue">
    <div class="mb-5">
      <h2>Create A New Offer</h2>
      <%= simple_form_for(@offer, data: { turbo_confirm: "Are you sure ?"}) do |f| %>
        <%=f.input :game_id, collection: Game.all %>
        <%= f.input :price, label: "Price(¥)" %>
        <%= f.input :duration, label: "Duration(Hr)"%>
        <%= f.submit class: "btn-blue w-100"%>
      <% end %>
    </div>
    <h2>My Coaching Offers</h2>
    <% if @offers == []  %>
      <h3>...you have no offer...</h3>
    <% else %>
      <% @offers.each do |offer| %>
        <div class="card-product">
          <%= image_tag(offer.game.background_image) %>
          <div class="booking-info">
            <div class="booking-info-title">
              <%= offer.game.name %>
            </div>
            <div class="booking-info-details">
              <%= offer.duration %>h
              <%= number_with_delimiter(offer.price, :delimiter => ',') %>¥
            </div>
          </div>
          <% unless offer.bookings %>
            <%= link_to 'x', offer_path(offer), data: { turbo_method: :delete, turbo_confirm: 'Delete offer?' }  %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
