<%# <div class="container"> <%# reviews %>
<h2><%= @reviews.count %> reviews (avg. <%= @reviews.average(:rating).to_i %>/5) </h2>
<% @reviews.each do |review| %>
  <div class="card-white d-flex p-2 mb-5">
    <%= render 'card_white_avatar', user: review.user %>
    <%= review.rating %>
    <%= review.content %>
    <% if review.in?(@my_reviews) %>
      <%= link_to 'x', review_path(review), data: { turbo_method: :delete, turbo_confirm: 'Delete?' }  %>
    <% end %>
    <br>
    <br>
  </div>
<% end %>
<%= simple_form_for([@offer, @review]) do |f| %>
  <div class="card-white d-flex p-2 mb-5">
    <%= render 'card_white_avatar', user: current_user %>
    <%= f.input :rating, collection: [1, 2, 3, 4, 5] %>
    <%= f.input :content, placeholder: "Write a review" %>
    <%= f.submit %>
  </div>
<% end %>
<%# </div> %>
