<%= render 'shared/searchbar' %>
<div class="card-index">
  <% @offers.each do |offer| %>
    <div class="card-trip">
      <%= link_to '', offer_path(offer), class: 'link-card' %>
      <%= cl_image_tag offer.user.photo.key %>
      <div class="card-trip-infos">
        <div>
          <h2 class="card-game"><%= offer.game.name %></h2>
          <h2 class="card-user"><%= offer.user.name %></h2>
          <p>Short description here!</p>
        </div>
      </div>
    </div>
  <% end %>
</div>
