<%= render 'searchbar' %>
<div class="card-index">
  <% @offers.each do |offer| %>
    <div class="card-trip">
      <%= link_to '', offer_path(offer), class: 'link-card' %>
      <%= cl_image_tag offer.user.photo.key %>
      <div class="card-trip-infos">
        <div>
          <h2 class="card-game"><%= offer.user.name %></h2>
          <p class="card-user"><%= offer.game.name %></p>
        </div>
        <div class="card-user">
          <h2 class="card-trip-pricing d-flex justify-content-end">¥<%= number_with_delimiter(offer.price, delimiter: ",") %></h2>
          <h2 class="card-trip-pricing d-flex justify-content-end"><%= offer.duration %><%= offer.duration <= 1 ? "hr" : "hr".pluralize %></h2>
        </div>
      </div>
    </div>
  <% end %>
</div>
