<div class="hero-image">
  <div class="d-flex justify-content-center">
    <img class="profilepic" src="/assets/songimg.jpg" alt="">
    <h1>Song</h1>
  </div>
</div>
<div class="card-section d-flex justify-content-sm-between">
  <div class="card-aboutme align-items-bottom">
    <h2>About Me</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique repudiandae dolores quae accusantium sapiente sit. Similique repudiandae dolores quae accusantium sapiente sit.</p>
    <h3>Favorite Games</h3>
    <ul class="d-flex justify-content-sm-between">
      <li>
        <div class="circle">Game</div>
      </li>
      <li>
        <div class="circle">Game</div>
      </li>
      <li>
        <div class="circle">Game</div>
      </li>
    </ul>
  </div>
  <div class="card-connect align-items-bottom">
    <h3>My Coaching Style</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique repudiandae dolores quae accusantium sapiente sit. Similique repudiandae dolores quae accusantium sapiente sit.</p>
    <h3>Connect With Me</h3>
    <ul class="card-icons d-flex justify-content-sm-between">
      <li>
        <div class="circle">Game</div>
      </li>
      <li>
        <div class="circle">Game</div>
      </li>
      <li>
        <div class="circle">Game</div>
      </li>
    </ul>
  </div>
  <div class="offers">
    <h3>Games Offered</h3>
    <%# <p>Title: <%= @offer.title</p> %>
    <%# <p>Description: <%= @offer.description</p> %>
    <div class="offer1">
      <p><%= @offer.game.name %></p>
      <p><%= @offer.duration %>h</p>
      <p>¥<%= @offer.price %></p>
    </div>
    <div class="offer2">
      <p><%= @offer.game.name %></p>
      <p><%= @offer.duration %>h</p>
      <p>¥<%= @offer.price %></p>
    </div>
    <div class="btn btn-primary">Request</div>
  </div>
</div>
