<h1>Offers#show</h1>
<p>Find me in app/views/offers/show.html.erb</p>

<p>Title: <%= @offer.title %></p>
<p>Description: <%= @offer.description %></p>
<p>Game: <%= @offer.game.name %></p>
<p>Duration: <%= @offer.duration %>h</p>
<p>Price: <%= @offer.price %>yen</p>
