<div class="hero-image">
  <div class="d-flex justify-content-center">
    <img class="profilepic" src="/assets/songimg.jpg" alt="">
    <h1>Name</h1>
  </div>
</div>
<div class="card-section d-flex">
  <div class="card-aboutme align-items-bottom">
    <h2>About Me</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique repudiandae dolores quae accusantium sapiente sit. Similique repudiandae dolores quae accusantium sapiente sit.</p>
    <h3>Favorite Games</h3>
    <ul class="d-flex justify-content-sm-between">
      <li>
        <div class="circle">Game</div>
      </li>
      <li>
        <div class="circle">Game</div>
      </li>
      <li>
        <div class="circle">Game</div>
      </li>
    </ul>
  </div>
  <div class="card-connect align-items-bottom">
    <h3>My Coaching Style</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique repudiandae dolores quae accusantium sapiente sit. Similique repudiandae dolores quae accusantium sapiente sit.</p>
    <h3>Connect With Me</h3>
    <ul class="d-flex justify-content-sm-between">
      <li>
        <div class="circle">Game</div>
      </li>
      <li>
        <div class="circle">Game</div>
      </li>
      <li>
        <div class="circle">Game</div>
      </li>
    </ul>
  </div>
  <div class="offers">
    <p>Find me in app/views/offers/show.html.erb</p>
    <p>Title: <%= @offer.title %></p>
    <p>Description: <%= @offer.description %></p>
    <p>Game: <%= @offer.game.name %></p>
    <p>Duration: <%= @offer.duration %>h</p>
    <p>Price: <%= @offer.price %>yen</p>
  </div>
</div>
<div class="container">
  <%= simple_form_for([@offer, @booking]) do |f| %>
    <%= f.input :date %>
    <%= f.submit %>
  <% end %>
</div>
