<div class="card-trip mb-1">
  <img src=<%= offer.game.background_image %> />
  <div class="card-trip-infos">
    <div>
      <h2 class="card-user">
        <%= offer.game.name %>
      </h2>
    </div>
    <div class="content-justify-left card-user">
      <h2 class="card-trip-pricing">¥<%= number_with_delimiter(offer.price, delimiter: ",") %></h2>
      <h2 class="card-trip-pricing"><%= offer.duration %><%= offer.duration <= 1 ? "hr" : "hr".pluralize %></h2>
    </div>
  </div>
</div>
