<div class="mt-4 me-3">
  <h5>Other <%= other_offers.count > 1 ? "Offers" : "Offer" %> :</h5>
  <% other_offers.each do |offer| %>
    <div class="card-trip mb-4 mt-3">
      <%= link_to '', offer_path(offer), class: 'link-card' %>
      <img src=<%= offer.game.background_image %> />
      <div class="card-trip-infos">
        <div>
          <h2 class="card-user">
            <%= offer.game.name %>
          </h2>
        </div>
        <div class="card-user">
          <p class="card-trip-pricing d-flex justify-content-end">¥<%= number_with_delimiter(offer.price, delimiter: ",") %></p>
          <p class="card-trip-pricing d-flex justify-content-end"><%= offer.duration %><%= offer.duration <= 1 ? "hr" : "hr".pluralize %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
